---
title: CSS stylesheet
---

/*    Welcome to my CSS!!!                 */
/*    feel free to look at what i wrote :) */
/*    with love, Andrew                    */
/*          :*                             */

body{
  background-color: black;
  color: white;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  animation: highlightcolorchange 20s;
  animation-iteration-count:infinite;
  background: rgba(256, 256, 256, 0.996); !important;
}

::-webkit-selection {
  animation: highlightcolorchange 20s;
  animation-iteration-count:infinite;
  background: rgba(256, 256, 256, 0.996); !important;
}

::selection {
  animation: highlightcolorchange 20s;
  animation-iteration-count:infinite;
  background: rgba(256, 256, 256, 0.996); !important;
}

@keyframes highlightcolorchange
{
  0%   {color: #09fac1;}
  50%   {color: #00a9ff;}
  100% {color: #09fac1;}
}

.main-container {
  background-color: black;
  padding: 30px 30px 30px 30px;
  height: 100vh;
}

.nav-container {
  background-color: black;
}

.nav>ul>li>a {
  color: white;
}

.fa-bars {
  color: white;
  outline: none;
}

.top-nav-custom {
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-toggler{
  margin:0 auto;
  display:block;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-item .nav-link{
  padding-bottom: 8px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
}
.flex-column{
  padding-top: 50px;
}

.main-content-box {
    border-radius: 45px;
    border: 3px solid #67f2f7;
    animation: colorchange 20s;
    animation-iteration-count:infinite;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    border: 3px solid;
}

@keyframes colorchange
{
  0%   {border-color: #09fac1;}
  50%   {border-color: #00a9ff;}
  100% {border-color: #09fac1;}
}

#bm {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 100px;
}

#bm>svg {
    fill: white;
}

.index-text{
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight:900;
  text-align: center;
}

.index-text>h1{
  font-size: 45px;
}

.index-text>h2{
  font-size: 30px;
}

.index-text>h3{
  font-size: 20px;
}

.sm-icons{
  /* background-color: red; */
  width: 180px;
  margin: 0 auto;
}

.sm-icon{
  display: block;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.sm-icon > svg > path{
  fill: white;
}

.sm-icon:hover svg path{
  animation: colorchangefill 20s;
  animation-iteration-count:infinite;
}

@keyframes colorchangefill
{
  0%   {fill: #09fac1;}
  50%   {fill: #00a9ff;}
  100% {fill: #09fac1;}
}

.contactme-container {
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.contactme-email {
  font-family: 'Roboto Mono', monospace;
  font-weight:900;
  font-size: 30px;
}

.contactme-email > a{
  text-decoration: none;
  color: white;
}

.contactme-email > a:hover{
  color: #09fac1;
}


.contactme-smalltext {
  font-size: 10px;
}
