---
title: CSS stylesheet
---



.projects-container{
  margin-left: 30px;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

.projects-container a{
  text-decoration: none;
}

.projects-container>h1{
  font-weight: 700;
  font-size: 40px;
  color: #00baff;
}

.projects-container>ul{
  margin-left: 20px;
  margin-top: 40px;
  list-style: none;
}

.projects-container>ul>li{
  padding-bottom: 15px;
  padding-left: 20px;
}

.projects-container>ul>li:hover {
  border-color: #00baff;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  margin-left:-3px;
}

.projects-title{
  color:white;
  font-size: 30px;
  font-weight: 700;
}

.projects-meta{
  color: #488196;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-top: -15px;
}

.projects-description{
  color: #488196;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -15px;
}

.project-back{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #488196;
  position: absolute;
  margin-top: -40px;
  margin-left: 30px;
}

.project-back:hover{
    text-decoration: none;
    color: #00baff;
}

#top-button{
    text-decoration: none;
    display: none;
    font-size: 30px;
    background-color: black;
    border: 0px;
    color: #488196;
    position: fixed;
    font-family: 'Roboto Mono', monospace;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    height: 0px;
    width: 0px;
}


.project-content{
  margin-left: 100px;
  margin-top: 100px;
  padding-right: 80px;
    font-family: 'Open Sans', sans-serif;
}

.project-title{
  font-family:  'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 50px;
  animation: fontcolorchange 20s;
  animation-iteration-count:infinite;
}

.project-meta{
  font-family:  'Roboto Mono', monospace;
  font-style: italic;
  font-size: 20px;
  color: #488196;
}

.project-time{
  font-family:  'Roboto Mono', monospace;
    font-style: italic;
    font-size: 15px;
  color: #488196;
  margin-top: -10px;
}

.project-markdown>h1{
  font-family:  'Roboto Mono', monospace;
}

.project-markdown>h4{
  font-family:  'Roboto Mono', monospace;
  font-style: italic;
  color: #488196;
}

.project-markdown>p{
  margin-top: 10px;
}

.project-markdown>p>img{
  width: 100%;
  height: auto;
  pointer-events: none
}
