---
title: CSS stylesheet
---

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */

/* Small devices (tablets, 768px and down) */
/* @media (max-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and down) */
/* @media (max-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and down) */
/* @media (max-width: @screen-lg-min) { ... } */

@media (max-width: 768px) {
  .index-text>h1{
    font-size: 40px;
  }
  .index-text>h2{
    font-size: 20px;
  }
  .project-content, .note-back{
    margin-left: 50px;
    margin-top: 80px;
  }
  .project-back, .note-back{
    margin-left: 15px;
  }

  #top-button{
    margin-left: 0px;
  }
}

@media (max-width:1024px){
  .projects-container>ul{
    margin-left: 0px;
  }
  .projects-container>ul>li{
    padding-left: -10px;
  }

  .notes-container>ul{
    margin-left: 0px;
  }
  .notes-container>ul>li{
    padding-left: -10px;
  }
}

@media (max-width:425px){
  .main-container{
    padding: 0px 30px 30px 30px;
  }

  #bm{
    margin-top: 50px;
  }
  .projects-container>ul{
    margin-left: -20px;
  }

  .notes-container>ul{
    margin-left: -20px;
  }

  #top-button{
    margin-left: -15px;
  }

  .project-content, .note-content{
    margin-left: 20px;
    padding-right: 10px;
    margin-top: 50px;
  }
  .project-title, .note-title{
    font-size: 40px;
  }
  .project-meta, .note-meta{
    font-size: 15px;
  }
  .project-time, .note-time{
    font-size: 10px;
  }
  .project-markdown>h1{
      font-size: 35px;
    }
  .project-markdown>h4{
      font-size: 20px;
    }
  .note-markdown>h1{
      font-size: 35px;
    }
  .note-markdown>h4{
      font-size: 20px;
    }
}

@media (max-width:375px){
  .project-content, .note-content{
    margin-top: 40px;
  }
  .project-markdown>p{
    font-size: .8rem;
  }
  .project-title, .note-title{
    font-size: 30px;
  }
  .project-markdown>h1{
      font-size: 25px;
    }
  .project-markdown>h4{
      font-size: 15px;
    }
  .note-markdown>p{
    font-size: .8rem;
  }
  .note-markdown>h1{
      font-size: 25px;
    }
  .note-markdown>h4{
      font-size: 15px;
    }

}
